@model IEnumerable<Diss.ViewModels.EventView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Model.Last().Username
<div class="main d-flex justify-content-center">
    @foreach (var e in Model)
    {
        <div class="card" style="height:22rem; width: 18rem; display: inline-block;">
            <img class="card-img-bottom" src="https://usatthebiglead.files.wordpress.com/2018/07/lebron-kd-steph-ad.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">@e.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary view_btn btn-block" href="@Url.Action("Chat", "Events", new { eventId = e.ID, title = e.Name })">Find a chat</a>
            </div>
        </div>
    }
</div>

    @section scripts{
        <script>
$(function () {
    if ('@TempData["message"]' == "Logged In") {
        toastr["success"]("Logged In Successfully!");
    }
    else if ('@TempData["message"]' == "Registered") {
        toastr["success"]("Registered Successfully!");
    }
    else if ('@TempData["message"]' == "Logout") {
        toastr["success"]("Logged Out Successfully!");
    }
})
        </script>
    }
    @section styles {
        <link href="~/Content/css/index.css" rel="stylesheet" />
    }
